[submodule "external/grtest"]
	path = external/grtest
	url = https://github.com/v0lat1le/grtest
[submodule "external/rgfw"]
	path = external/rgfw
	url = https://github.com/ColleagueRiley/RGFW
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/poolstl"]
	path = external/poolstl
	url = https://github.com/alugowski/poolSTL.git
